<div class="three-image page-width">

  <div class="image-main">
    <div class="image-card">
       <img src="{{ section.settings.image1 | img_url :'medium' }}" height="300" width="300" alt="image">
    </div>
    <p>Holoman Exclusive</p>
  </div>


    <div class="image-main">
      <div class="image-card">
        <img src="{{ section.settings.image2 | img_url :'medium' }}" height="300" width="300" alt="image">
      </div>
      <p>Holoman Exclusive</p>
    </div>

     <div class="image-main">
    <div class="image-card">
       <img src="{{ section.settings.image3 | img_url :'medium' }}" height="300" width="300" alt="image">
    </div>
    <p>Holoman Exclusive</p>
  </div>

</div>

<style>
  .three-image{
    display:flex;
    gap:3rem;
  }
  .image-card img {
    height:auto;
    width:100%;
    border-radius: 10px;
  }
</style>

{% schema %}
  {
    "name": "Three Image Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image 1"
      },
      {
        "type": "image_picker",
        "id": "image2",
        "label": "Image 2"
      },
      {
        "type": "image_picker",
        "id": "image3",
        "label": "Image 3"
      }
    ],
    "presets": [
      {
        "name": "Three Image Section",
        "category": "Custom"
      }
    ]
  }
{% endschema %}